 .u-section-1 {
  min-height: 664px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 664px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 122px 0 0 30px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 18px auto 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 664px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 544px;
  margin: 0 50px 0 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 548px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 39px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 18px;
    margin-left: -36px;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 11px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-1 .u-form-1 {
    width: 521px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 12px;
    margin-right: -36px;
    margin-left: 36px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 38px;
    width: 155px;
    margin-top: 0;
    margin-left: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -59px;
  }
}